<a href="https://colab.research.google.com/github/kahumawalter/Project-2/blob/main/Project_2_part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

filename = '/content/drive/MyDrive/Coding Dojo/Week 7/2021.csv'
df = pd.read_csv(filename)
df.head()

,Region,WRI,Exposure,Vulnerability,Susceptibility,Lack of Coping Capabilities,Lack of Adaptive Capacities
0,Vanuatu,47.73,82.55,57.82,39.66,81.21,52.59
1,Salomonen,31.16,51.13,60.95,46.07,81.14,55.63
2,Tonga,30.51,63.63,47.95,28.42,79.81,35.62
3,Dominica,27.42,61.74,44.41,23.42,71.13,38.67
4,Antigua und Barbuda,27.28,67.73,40.28,23.80,64.41,32.62

**Source of Data**

Kaggle

**Brief description of data**

The WorldRiskReport is an annual technical report on global disaster risks. The yearly issues of the WorldRiskReport focus on varying critical topics related to disaster risk management and are published in German and English. The report includes the WorldRiskIndex, which identifies the risk of an extreme natural event becoming a disaster for numerous countries worldwide.

The WorldRiskIndex uses 27 aggregated, publicly available indicators to determine disaster risk for 181 countries worldwide. Conceptually, the index is composed of exposure to extreme natural hazards and the societal vulnerability of individual countries. Earthquakes, cyclones, floods, droughts, and climate-induced sea-level rise are considered in the exposure analysis. Societal vulnerability is divided into susceptibility to extreme natural events, lack of coping capacities, and lack of adaptive capacities. All index components are scaled to the value range from 0 to 100. The higher a country's index score on the WorldRiskIndex, the higher its national disaster risk.

**What is the target?**

Exposure

 **Is this a classification or regression problem?**

 Regression

  **How many features?**
  
  6

  **How many rows of data.**
  
  181

  **What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?**

The challenge will come with modeling the data in the region column.

**Second choice: dataset 2**

In [ ]:
path = '/content/drive/MyDrive/Coding Dojo/Week 7/Diamonds Prices2022.csv'

diamonds_df = pd.read_csv(path)
diamonds_df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

**Source of Data**

Kaggle

**Brief description of data**

This document explores a dataset containing prices and attributes for approximately 54,000 round-cut diamonds.
There are 53,940 diamonds in the dataset with 10 features (carat, cut, color, clarity, depth, table, price, x, y, and z). Most variables are numeric in nature, but the variables cut, color, and clarity are ordered factor variables with the following levels.

About the currency for the price column: it is Price ($)
And About the columns x,y, and z they are diamond measurements as (( x: length in mm, y: width in mm,z: depth in mm ))

**What is the target?**

Price

**Is this a classification or regression problem?**

Regression

**How many features?** 

9

**How many rows of data.** 

53943

**What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?**

The dataset is too big and its mixed with categorical and numeric data.